{% extends "layout.html" %} {% block content %} 
<h2><a class="article-title" >{{ title }}</a></h2>
<img class="img-responsive" src=" {{url_for('static', filename='animal/'+image_name)}}" alt="Click For Details">

<table class="table table-striped table-bordered table-condensed ">
              <tr>
            <td>
                Location
             </td>
            <td>
                {{post.location}}
            </td>
        </tr>
        <tr>
            <td>
                Description
             </td>
            <td>
                {{post.description}}
            </td>
        </tr>


        <tr>
            <td>
                Is Bleeding?
             </td>
            <td>
                {{post.bleeding}}
            </td>
        </tr>

        <tr>
            <td>
                Need Immediate Assistance?
             </td>
            <td>
                {{post.immediate}}
            </td>
        </tr>

        <tr>
            <td>
                Need Longterm Treatment?
             </td>
            <td>
                {{post.longterm}}
            </td>
        </tr>


        </td>
    </tr>
    
</table>

{% endblock content %}