{% extends "layout.html" %} {% block content %} 


<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">


        </div>
        <h2><a class="article-title" >{{ title }}</a></h2>
        
        <a href="/login" class="button"
        style="
        border: none;
        background-color: #81a1b8; 
        color: white;
        padding: 15px 32px;
        border-radius: 8px;
        text-align: center;
        text-decoration: none;
        transition-duration: 0.4s;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;"
        onMouseOver="this.style.backgroundColor='#5050F0'"
        onMouseOut="this.style.backgroundColor='#81a1b8'">Login For Residents</a>
        
        

        <a href="/PublicFoodDonation" class="button"
        style="
        border: none;
        background-color: #81a1b8; 
        color: white;
               
        padding: 15px 32px;
        border-radius: 8px;
        text-align: center;
        text-decoration: none;
        transition-duration: 0.4s;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;"
        onMouseOver="this.style.backgroundColor='#5050F0'"
        onMouseOut="this.style.backgroundColor='#81a1b8'">Click For Public</a>
     </div>
     
</article>
{% endblock content %}