{% extends "layout.html" %} {% block content %}
<h2><a class="article-title" >{{ title }}</a></h2>
<table class="table table-striped table-bordered table-condensed ">
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Pick Up Date</th>
    <th>Pick Up Time</th>
    <th>Food Type</th>
    <th>Quantity</th>
    <th>Unit</th>    
</tr>
<tr>
  <td>{{donar.name}}</td>
  <td>{{donar.location}}</td>
  <td>{{donar.pick_up_date}}</td>
  <td>{{donar.pick_up_time}}</td>
  <td>{{food.food_type}}</td>
  <td>{{food.food_quantity_value}}</td>
  <td>{{food.food_quantity_metric}}</td>
</tr>


{% endblock content %}