{% extends "layout.html" %} {% block content %} 
  <div>
    <article class="media content-section">
    <div class="media-body">
      <img class=" center account-img" src="{{ url_for('static', filename='images/bigban2.jpg') }}">
        <div class="article-metadata">
        </div>
        <h4>Stray Service App makes sure adequate food is available for stray animals as well as they are treated properly.</h4>
        <head>
    <style>
    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
  
    }

    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 2px;
    }

    tr:nth-child(even) {
    background-color: #dddddd;
    }
    </style>
    </head>
   <body>

    <table>
    <tr>
    <th>Role</th>
    <th>Member Name</th>
    
    </tr>
    <tr>
    <td>Project Manager</td>
    <td>Souvik Ghosh</td>
    
    </tr>
    <tr>
    <td>Quality Assurance Manager</td>
    <td>Rounak Basu</td>
    
    </tr>
    <tr>
    <td>Quality Assurance Engineer</td>
    <td>Sagnik Bagchi</td>
    
    </tr>
    <tr>
    <td>Lead Developer</td>
    <td>Sudipta Halder</td>
    
    </tr>
    <tr>
    <td>Developer</td>
    <td>Souranshu Ghosh</td>
    
    </tr>
    <tr>
    <td>Developer</td>
    <td>Sayan Sarkar</td>
   
    </tr>
    </table>

    </body>
    </div>
    </article>
  
  </div>
{% endblock content %}