{% extends "layout.html" %} {% block content %}
<h2><a class="article-title" >{{ title }}</a></h2>
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.picture.label() }}
                {{ form.picture(class="form-control-file") }}
                {% if form.picture.errors %}
                    {% for error in form.picture.errors %}
                        <span class="text-danger">{{ error }}</span></br>
                    {% endfor %}
                {% endif %}
            </div>

            
            <div class="form-group">
                {{ form.animal.label(class="form-control-label") }} {% if form.animal.errors %} {{ form.animal(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.animal.errors %}
                    <span>{{ error }}</span> {% endfor %}
                </div>
                {% else %} {{ form.animal(class="form-control form-control-lg") }} {% endif %}
            </div>



            <div class="form-group">
                {{ form.location.label(class="form-control-label") }} {% if form.location.errors %} {{ form.location(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.location.errors %}
                    <span>{{ error }}</span> {% endfor %}
                </div>
                {% else %} {{ form.location(class="form-control form-control-lg") }} {% endif %}
            </div>

            <div class="form-group">
                {{ form.description.label(class="form-control-label") }} {% if form.description.errors %} {{ form.description(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.description.errors %}
                    <span>{{ error }}</span> {% endfor %}
                </div>
                {% else %} {{ form.description(class="form-control form-control-lg") }} {% endif %}
            </div>
            <div class="form-group">
                {{ form.bleeding.label(class="form-control-label") }} {% if form.bleeding.errors %} {{ form.bleeding(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.bleeding.errors %}
                    <span>{{ error }}</span> {% endfor %}
                </div>
                {% else %} {{ form.bleeding(class="form-control form-control-lg") }} {% endif %}
            </div>
            <div class="form-group">
                {{ form.immediate.label(class="form-control-label") }} {% if form.immediate.errors %} {{ form.immediate(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.immediate.errors %}
                    <span>{{ error }}</span> {% endfor %}
                </div>
                {% else %} {{ form.immediate(class="form-control form-control-lg") }} {% endif %}
            </div>

            <div class="form-group">
                {{ form.longterm.label(class="form-control-label") }} {% if form.longterm.errors %} {{ form.longterm(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.longterm.errors %}
                    <span>{{ error }}</span> {% endfor %}
                </div>
                {% else %} {{ form.longterm(class="form-control form-control-lg") }} {% endif %}
            </div>

        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
        
    </form>

{% endblock content %}