{% extends "layout.html" %} {% block content %} 
<h2><a class="article-title" >{{ title }}</a></h2>
<div class="container">

    

    <table class="table table-striped table-bordered table-condensed ">
        <tr>
            <th> Click on Images To View Details</th>
      </tr>
      {% for i in posts.items %} 
      <tr>
          <td>
            <a href="{{url_for('AnimalDetails',name=i.image_file)}}"><img class="img-responsive" src=" {{url_for('static', filename='animal/'+i.image_file)}}" alt="Click For Details"></a>
          </td>
      </tr>
      {% endfor %}
      </table>       
</div>
<a class="btn btn-outline-info mb-4" href="{{ url_for('ShowAnimals',location=location,page=posts.prev_num) }}">Prev</a>
  
{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('ShowAnimals',location=location,page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('ShowAnimals',location=location,page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
       
    <a class="btn btn-outline-info mb-4" href="{{ url_for('ShowAnimals',location=location,page=posts.next_num) }}">Next</a>

{% endblock content %}