{% extends "layout.html" %} {% block content %}
<h2><a class="article-title" >{{ title }}</a></h2>
<table class="table table-striped table-bordered table-condensed ">
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Food Type</th>
    <th>Quantity</th>
    <th>Unit</th>    
</tr>
{% for i in posts.items %}
<tr>
  <td>{{i[1].name}}</td>
  <td>{{i[1].location}}</td>
  <td>{{i[0].food_type}}</td>
  <td>{{i[0].food_quantity_value}}</td>
  <td>{{i[0].food_quantity_metric}}</td>
</tr>
{% endfor %}
  </table>
  <a class="btn btn-outline-info mb-4" href="{{ url_for('ViewFoodDetails',date=date,time=time,page=posts.prev_num) }}">Prev</a>
  {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
  {% if page_num %}
  {% if posts.page == page_num %}
      <a class="btn btn-info mb-4" href="{{ url_for('ViewFoodDetails',date=date,time=time,page=page_num) }}">{{ page_num }}</a>
    {% else %}
      <a class="btn btn-outline-info mb-4" href="{{ url_for('ViewFoodDetails',date=date,time=time,page=page_num) }}">{{ page_num }}</a>
    {% endif %}
  {% else %}
    ...
  {% endif %}
{% endfor %}

<a class="btn btn-outline-info mb-4" href="{{ url_for('ViewFoodDetails',date=date,time=time,page=posts.next_num) }}">Next</a>


{% endblock content %}