{% extends "layout.html" %} {% block content %}
<h2><a class="article-title" >{{ title }}</a></h2>
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.start_date.label(class="form-control-label") }} {% if form.start_date.errors %} {{ form.start_date(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.start_date.errors %}
                    <span>{{ error }}</span> {% endfor %}
                </div>
                {% else %} {{ form.start_date(class="form-control form-control-lg") }} {% endif %}
            </div>

            <div class="form-group">
                {{ form.end_date.label(class="form-control-label") }} {% if form.end_date.errors %} {{ form.end_date(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.end_date.errors %}
                    <span>{{ error }}</span> {% endfor %}
                </div>
                {% else %} {{ form.end_date(class="form-control form-control-lg") }} {% endif %}
            </div>

            <div class="form-group">
                {{ form.animal.label(class="form-control-label") }} {% if form.animal.errors %} {{ form.animal(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.animal.errors %}
                    <span>{{ error }}</span> {% endfor %}
                </div>
                {% else %} {{ form.animal(class="form-control form-control-lg") }} {% endif %}
            </div>
           
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
       
    </form>

{% endblock content %}