{% extends "layout.html" %} {% block content %}
<h2><a class="article-title" >{{ title }}</a></h2>
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
                        <div class="form-group">
                            {{ form.pick_up_date.label(class="form-control-label") }} {% if form.pick_up_date.errors %} {{ form.pick_up_date(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.pick_up_date.errors %}
                                <span>{{ error }}</span> {% endfor %}
                            </div>
                            {% else %} {{ form.pick_up_date(class="form-control form-control-lg") }} {% endif %}
                        </div>

                        <div class="form-group">
                            {{ form.pick_up_time.label(class="form-control-label") }} {% if form.pick_up_time.errors %} {{ form.pick_up_time(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.pick_up_time.errors %}
                                <span>{{ error }}</span> {% endfor %}
                            </div>
                            {% else %} {{ form.pick_up_time(class="form-control form-control-lg") }} {% endif %}
                        </div>

                        

        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
        
    </form>

{% endblock content %}